body{
    background-color: bisque;
    color: #000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h1{
    text-align: center;
    margin-top: 20px;
}

.animal-list{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

#animal-list li {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}


/* Style the animal details section */
.animal-details {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.animal-details h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

#animal-image {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
}


#animal-votes {
    font-weight: bold;
    font-size: 18px;
}

#vote-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}
